.login-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 65, 65);
    width: 100%;
    height: auto;
    color: white;
    font-size: 100%;
}

.title{
    padding-top: 3vh;
    padding-bottom: 4px;
    font-size: 130%;
    text-align: center;
}

.input{
    padding-left: 4px;
    
    text-align: center;
    padding-bottom: 2vh;
}

.input input{
    padding: 4px;
    background-color: rgb(162, 162, 162);
    height: 20px;
    min-width: 200px;
    font-size: 90%;
    color: white;
    outline: none;
    border: none;
}

.buttongrp{
    padding-top: 4px;
    text-align: center;
    margin-left: 5%;
    font-size: larger;
    
    
    
}

.button-1{
    cursor: pointer;
    background-color: #e46767 ;
    border: 2px solid white;
    padding: 4px;
    height: 30px;
    width: 12vw;
    min-width:100px;
    outline-color: white !important ;
    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 20px;
    border-top-left-radius: 20px;
  border-top-right-radius: 20px
  
}


.button-2{
    cursor: pointer;
    border: 2px solid white;
  background-color: #e46767;
    padding: 4px;
    height: 30px;
    width: 12vw;
    min-width:100px;
    outline-color: white !important ;
    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 20px;
    border-top-left-radius: 20px;
  border-top-right-radius: 20px
  
}
.button-1:hover{
    background-color:#f2b500 ;
    transition: ease-in;
    transition-duration: 180ms;
}

.button-2:hover{
    background-color:#f2b500 ;
    transition: ease-in;
    transition-duration: 180ms;
}
.button-1:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
    
  }

